<nav mat-tab-nav-bar backgroundColor="primary">
  <a mat-tab-link routerLink="/grpc-web-client" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">grpc-web-client</a>
  <a mat-tab-link routerLink="/improbable-eng-grpc-web-client" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">improbable-eng-grpc-web-client</a>
  <a mat-tab-link routerLink="/grpc-worker-client" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">worker-client</a>
</nav>
<router-outlet></router-outlet>
